body {
    background-color: #876445;
}

.container {
    height: 100%;
}

.potato {
    cursor: pointer;
    padding-top: 10rem;
}

.title {
    color: white;
    padding: 15rem 3rem 3rem 3rem;
    text-align: center;
}

.start-button {
    padding: 0 auto;
    text-align: center;
}
