body {
    background-color: #694E4E;
}

img {
    padding: 3rem 3rem 5rem 25.7rem;
}

a {
    color: white;
    text-decoration: none;
}

.counter {
    color: white;
    display: inline-block;
    height: 12.5rem;
    width: 20rem;
    border-style: solid;
    border-color: white;
    text-align: center;
    position: relative;
    top: 32.5rem;
    right: 25rem;
}

.shop {
    background-color: #886F6F;
    color: white;
    display: inline-block;
    position: absolute;
    width: 40%;
    height: 100%;
    text-align: center;
}

