:root {
    --clr-dark: #161616;
    --clr-light: #ECDBBA;
    --clr-primary: #346751;
    --clr-secondary: #C84B31;
}

body {
    background-color: var(--clr-dark);
    color: var(--clr-light);
}

.front-page-title {
    text-align: center;
}
